{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
 
    ],
    "plugins": [
       [
        "babel-plugin-module-name-mapper",
        {
            "moduleNameMapper":{
                "\\.(css|less)$": "identity-obj-proxy"
            }
        }
       ],
       ["@babel/plugin-transform-react-jsx",
       {
        "transform": {
        "^.+\\.js$": "babel-jest",
        ".+\\.(css|styl|less|sass|scss)$": "jest-transform-css"
      }}]    
    ]
    // "transform": {
    //     "^.+\\.js$": "babel-jest",
    //     ".+\\.(css|styl|less|sass|scss)$": "jest-transform-css"
    // }
    // "moduleNameMapper":{
    //     "\\.(css|less)$": "identity-obj-proxy"
    // }
    
}